<div class="main-layout m-4">
    <nav class="sidebar rounded-2xl">
        <h2 class="text-4xl text-center">💸 Splitz</h2>
        <div class="flex flex-col justify-between min-h-[calc(80vh-2rem)]">
            <ul class="text-center mt-40">
                <li class="m-4">
                    <a [routerLink]="['/dashboard', userId]" routerLinkActive="active-menu"
                        [routerLinkActiveOptions]="{ exact: true }">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/recent-activity', userId]" routerLinkActive="active-menu"
                        [routerLinkActiveOptions]="{ exact: true }">
                        Recent Activity
                    </a>
                </li>
                <!-- Add more menu items here -->
            </ul>

            <div class="flex-end flex flex-col gap-4 mt-8">
                <button class="p-2 bg-[#ff5216] rounded-xl" (click)="openModal('expense')"> Add an expense </button>
                <button class="p-2 bg-[#48be9d] rounded-xl" (click)="openModal('settle')"> Settle Up </button>
            </div>
        </div>
    </nav>
    <main class="content">
        <app-modal *ngIf="isModalOpen" [type]="modalType" (close)="isModalOpen = false"></app-modal>
        <router-outlet></router-outlet>
    </main>
</div>